<% errors = model.errors %>
<% if errors.any? %>
  <div class="alert alert-danger alert-dismissible" role="alert">
    <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
      <%= t(:allowed, count: errors.count) %> <%= t(:number_of_errors, count: errors.count) %>
    <ul>
      <% errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
    </ul>
  </div>
<% end %>
